.heading {
  font-family: var(--font-family-body-golos);
  color: var(--color-dark-blue);
}

.large {
  font-size: var(--text-size-heading-l);
  font-weight: 600;
}

.medium {
  font-size: var(--text-size-heading-m);
  font-weight: 500;
}
