@use "reset";
@use "variables/global";

.app {
  background: var(--color-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 1440px;
}
