@use "reset";
@use "variables/global";

.app {
  background: var(--color-white);
  min-height: 100vh;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  // display: flex;
  // flex-direction: column;
}

.content {
  min-height: 100vh;
  padding: 0px 24px;
  padding-top: 80px;
  padding-bottom: 20px;
  // max-width: 1920px;
  // margin: 0 auto;

  width: 100%;
  max-width: 100%;

  // display: flex;
}

.error-message {
  color: var(--color-danger);
}
