.page-header {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-title {
  max-width: 490px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.action-buttons {
  display: flex;
  gap: 4px;
}

.leave-comment-button {
  position: relative;
}

.unread-comments-count {
  position: absolute;
  right: -7px;
  top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 15px;
  height: 14px;
  background: var(--color-danger);
  color: var(--color-white);
  font-size: 10px;
}
