.orders-page {
  font-family: var(--font-family-body-golos);
  color: var(--color-graphite-1);
}

.orders-page-container-inner {
  padding: 20px;
}

.orders-page-heading {
  margin-bottom: 24px;

  h1 {
    margin-bottom: 4px;
  }
}
