.orders-page {
  font-family: var(--font-family-body-golos);
  color: var(--color-graphite-1);
}

.orders-page-container-inner {
  padding: 20px;
}

.orders-page-heading {
  margin-bottom: 24px;

  h1 {
    margin-bottom: 4px;
  }
}

.leave-comment-button {
  position: relative;
}

.unread-comments-count {
  position: absolute;
  right: -7px;
  top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 15px;
  height: 14px;
  // z-index: 1000;
  background: var(--color-danger);
  color: var(--color-white);
  font-size: 10px;
}
