.employeeDetailsForm {
  max-width: 624px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-input-row {
  display: flex;
  gap: 24px;
  width: 100%;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.form-buttons {
  margin-left: auto;
  display: flex;
  gap: 10px;
}
