.email-form {
  margin-bottom: 24px;
  max-width: 480px;
  width: 100%;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.form-button {
  width: 100%;
}

.error-message {
  color: var(--color-danger);
}
